streamlit
chromadb
azure-storage-blob
boto3
python-dotenv
langchain
langchain-community
openai
pypdf
sentence-transformers
langchain-openai
rank_bm25
langchain_chroma
unstructured
python-pptx
faiss-cpu
docx2txt
grandalf
streamlit-authenticator